* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #b83f45;
  text-align: center;
  padding-top: 15px;
  font-size: 80px;
  font-weight: 200;
  padding-bottom: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}

ul {
  overflow-y: auto;
  list-style-type: none;
  line-height: normal;
}

#enter-text {
  border: solid 2px rgb(174, 169, 169);
  height: 80px;
  width: 500px;
  padding-left: 10px;
  font: 24px Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  vertical-align: middle;
}


span {
  padding-left: 15px;
  vertical-align: middle;
}

span.completed {
  text-decoration: line-through;
}

i {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  margin-left: auto;
}

li {
  display: flex;
  align-items: center;
  overflow-wrap:anywhere;
  border-bottom: solid 2px rgb(174, 169, 169);
  border-right: solid 2px rgb(174, 169, 169);
  border-left: solid 2px rgb(174, 169, 169);
  min-height: 60px;
  width: 500px;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}

.input-checkbox {
  vertical-align: middle;
  min-height: 20px;
  min-width: 20px;
}

footer {
  align-items: center;
  border-bottom: solid 2px rgb(174, 169, 169);
  border-right: solid 2px rgb(174, 169, 169);
  border-left: solid 2px rgb(174, 169, 169);
  width: 500px;
}

.filters {
  height: 40px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#all, #active, #completed {
  cursor: pointer;
  padding: 2px 5px;
}

.active-button {
  border: 1px solid rgb(143, 27, 27);
}

#active-todos, #all-filters, #empty {
  flex: 1;
}



